app-table{
    display: inline-block;
    
    height: 1000px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: auto;
}
div{
    display: block;
    width: 900px;
    margin-left: auto;
    
}
input{
    margin-left: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
}
