<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Delete Todo</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
              <div class="form-group">
                <input type="text" class="todo-input" id="titleField" placeholder="{{this.todo2.Title}}"  [(ngModel)]="todoTitle" >
                <p *ngIf="this.todo2.DueDate">Due Date: {{this.todo2.DueDate.toDateString()}}</p><input type="date" class="todo-date" placeholder="" [(ngModel)] = "dueDate">
        </div>
      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger btn-sm" (click)="editTodo()">Save</button>
      <button type="button" class="btn btn-danger btn-sm" (click)="modal.dismiss('No')">Cancel</button>
    </div>
  </ng-template>
  
  <button class="btn btn-danger btn-sm" (click)="open(content)">Edit</button>